#Plante_Affichage{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}#Plante_Nom{
    color: darkgreen;
    text-decoration: underline darkgreen;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
}#Plante_Image_Div{
    grid-column: 1;
    grid-row: 1 / 4;
    width: 100%;
    overflow: hidden;
    border-radius:10px;
    position: relative;
}#Plante_Image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}#Plante_Info{
    grid-column: 2;
    grid-row: 2;
    padding: 5px;
    display: flex;
    height: min-content;
    flex-direction: column;
    
    justify-content: space-around;

    
}#Plante_Panier{
    border-radius: 10px;
    border: none;
    color: antiquewhite;
    background-color: darkgreen;
    font-size: 1.3em;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
}#Panier_Img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(62%) saturate(649%) hue-rotate(307deg) brightness(100%) contrast(96%);
    margin: 5px;
    height: 23px;
    width: 23px;
}#Plante_Panier p{
    margin: 5px;
}
#Plante_Quantite_Div{
    display: flex;
    justify-content: center;
    align-items: baseline;
}#Plante_Quantite{
    padding: 0 9px;
    justify-items: center;
    justify-content: center;
    margin: 0;
    font-size: 1.3em;
    color: darkgreen;
}#Plante_Quantite_Edit{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 40px;
    width: 40px;

    font-size: 1.4em;
    border-radius: 10px;
    border: none;
    color: antiquewhite;
    background-color: darkgreen;

}#Plante_Description{
    grid-column: 2;
    grid-row: 3/4;
    text-align:left;
    font-size: 1.2em;
    
    height: auto;
}


@media only screen and (max-width: 800px) {
    #Plante_Affichage{
        grid-template-columns: repeat(2, 1fr);
    }#Plante_Nom{
        grid-row: 1;
        grid-column: 1/3;
    }#Plante_Image_Div{
        grid-column: 1;
        grid-row: 3;
        max-height: 500px;
    }#Plante_Info{
        grid-column: 1/3;
        grid-row: 2;
        width: auto;
    }#Plante_Description{
        grid-column: 2;
        grid-row: 3;
    }
  }
@media only screen and (max-width: 650px) {
    #Plante_Affichage{
        grid-template-columns: repeat(1, 1fr);
    }#Plante_Nom{
        grid-row: 1;
        grid-column: 1;
    }#Plante_Image_Div{
        grid-column: 1;
        grid-row: 3;
        max-height: 500px;
    }#Plante_Info{
        grid-column: 1;
        grid-row: 2;
        width: auto;
    }#Plante_Description{
        grid-column: 1;
        grid-row: 4;
    }
  }