#Card_Container{
    width: 100%;
    height: auto;
    align-items: center;
}

#Card_Fond{
    height:400px;
    width: 20%;
    background-color: antiquewhite;
    padding: 5px;
    margin: 5px;
    border-radius:10px;
    float: left;
}
#Card_Image_Div{
    margin: 5px;

}
#Card_Image{
    border-radius:10px;
    object-fit: cover;
    height:350px ;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    #Card_Fond{
        width: 30%;
    }
  }
@media only screen and (max-width: 800px) {
    #Card_Fond{
        width: 50%;
    }
  }

  @media only screen and (max-width: 500px) {
    #Card_Fond{
        width: 95%;
    }
  }